body {
  background : rgb(255,255,128);
  font-size: 24px;
  font-family: 'verdana';
}


.inputs {
  display: flex;
  justify-content: space-around;
  >section {
    min-width: 20%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 12px;
    padding: 0.5em;

    > label {
      background: white;
      border-radius: 6px;
      color: gray;

      display: inline-block;
    }
    >input {

      display: inline-block;
    }
  }
}
